<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<table>
		<thead>
			<th>Id</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
					<th:block th:each="estudiante, row:${estudianteslist}">
				<tr>
					<th th:text="${estudiante.id}"/>
					<th th:text="${estudiante.nombre}"/>
					<th th:text="${estudiante.apellido}"/>
					<th th:text="${estudiante.carne}"/>
					<th th:text="${estudiante.carrera}"/>
				</tr>
			</th:block>
	</table>

</body>
</html>